#artistList {
    background-color: lightblue;
}

#listBlock {
    height: 50vh;
    overflow-y: scroll;
}

.nav-item:hover {
    background-color: rgba(255,255,255,.5);
}

.homeSort {
    background-color: rgba(255,255,255,.5);
    border-radius: 15px;
}


.btn-cards {
    text-align: left;
    padding: 20px;
    margin: 8px;
    text-transform: uppercase;
    background-color: rgba(255,255,255,.5);
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn-cards:active {
    background-color: rgba(0, 0, 0,.1);
}

.btn-light {
    padding: 5px;
    margin: 5px;
}
.btn:active {
    background-color: #FF4439;
    color: white;
}
.btn-lg {
    background-color: #FF4439;
    color: white;
}
.btn-search {
    color: white;
    background-color: seagreen;
    border: none;
    border-radius: 5px;
}

.btn-lg:active {
    background-color: yellow;
    color: black;
}

body {
    background-image: linear-gradient(to right, #6cc4e9, #007bcc);
}

#fieldGenre, #fieldDay {
    font-size: large;
}

/* W3 Filter Function Classes */
.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: inline-block;
}

/* Style the buttons */
