#artistList {
    background-color: lightblue;
}

#listBlock {
    height: 35vh;
    overflow-y: scroll;
}

.nav-item:hover {
    background-color: rgba(255,255,255,.5);
}

.homeSort {
    background-color: rgba(255,255,255,.5);
    border-radius: 15px;
}

header {
    background-color: #00af9a;
}

.btn {
    text-align: left;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
    background-color: rgba(255,255,255,.5);
}
.btn:active {
    background-color: #FF4439;
    color: white;
}
.btn-lg {
    background-color: #FF4439;
    color: white;
}

.btn-lg:active {
    background-color: yellow;
    color: black;
}

body {
    background-image: linear-gradient(to right, #6cc4e9, #007bcc);
}

#fieldGenre, #fieldDay {
    font-size: large;
}

/* W3 Filter Function Classes */
.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: inline-block;
}

/* Style the buttons */
